@model GroupCapstoneProoj.Models.Listing

@{
    ViewData["Title"] = "CompleteTransaction";
}

<h1>CompleteTransaction</h1>

<p>Congratulations! Payment has been accepted.</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CompleteTransaction" method="post">
            <div class="form-group">
                <select name="starValue">
                    <option value="1">1 Star - Lowest</option>
                    <option value="2">2 Star</option>
                    <option value="3">3 Star</option>
                    <option value="4">4 Star</option>
                    <option value="5">5 Star - Highest</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



