@using System.IO
@model GroupCapstoneProoj.Models.Listing

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var selectListCategory = new SelectList(new List<SelectListItem>
        {
            new SelectListItem {Text = "Goods", Value = "Goods"},
            new SelectListItem {Text = "Services", Value = "Services"},
         }, "Value", "Text");
}
<h4>Create a Listing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateListing" method="post" enctype="multipart/form-data" asp-controller="Traders">
            <div class="form-group">
                <label asp-for="ListingName" class="control-label"></label>
                <input asp-for="ListingName" class="form-control" />
                <span asp-validation-for="ListingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListingDescription" class="control-label"></label>
                <input asp-for="ListingDescription" class="form-control" />
                <span asp-validation-for="ListingDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">Select Your Listing's Category</label>
                <select asp-for="Category" class="form-control" asp-items="selectListCategory"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InReturn" class="control-label"></label>
                <input asp-for="InReturn" class="form-control" />
                <span asp-validation-for="InReturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Please enter price in XX.XX format</p>
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Please select three (3) pictures to upload. </p>
                <input type="file" name="files" id="files" multiple />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
