@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img src="~/img/TRADR.Logo.red.blue.grey.png" style="width:500px; height:auto; align-items:center" />
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-outline-warning">I have...</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-outline-warning">I want...</button>
            </div>
        </div>
        <br />
        <a class="btn btn-warning" style="width : 300px" asp-area="Identity" asp-page="/Account/Register">Let's Get Trading!</a>
    </div>
<br />
<h3></h3>